
@font-face {
    font-family: 'Tiny5';
    font-style: normal;
    font-weight: 400;
    src: url(Tiny5-Regular.ttf) format('truetype');
  }

@font-face {
    font-family: 'Arsenal';
    font-style: normal;
    font-weight: 700;
    src: url(Arsenal-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Arsenal';
    font-style: normal;
    font-weight: 400;
    src: url(Arsenal-Regular.ttf) format('truetype');
}

.tiny5-regular {
    font-family: Tiny5, sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.arsenal {
    font-family: "Arsenal", sans-serif;
    font-weight: 700;
    font-style: bold;
}

h1 {
    font-size: 35pt;
    text-align: center;
}

#menu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50vh;
    max-height: 800px;
    background-color: blue;
    border-radius: 30px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

#difficulty {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

#difficulty > .menu-button {
    flex-grow: 1;
}

.menu-button {
    background-color: #d3d3d3;
    border-radius: 10px;
    padding: 10px;
    font-size: 20pt;
    transition: .25s;
}

.menu-button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#main-row {
    display: none;
    gap: 5%;
    justify-content: space-evenly;
}

#button-column {
    flex: 1 1 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#flag-button {
    /* display: none;*/
    background-color: lightgreen;
    border: none;
    padding: 15px 32px;
    text-align: center;
    max-width: 250px;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#flag-button:hover {
    cursor: pointer;
}

#flag-button:active {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3), 0 3px 10px 0 rgba(0,0,0,0.2);
}

#flag-button-img {
    max-width: 100%;
    max-height: 100%;
}

#button-column p {
    font-family: "arsenal";
    font-weight: 700;
    font-size: 2.5em;
}

#board {
    /* display: none; */
    background-color: #d3d3d3;
    height: 80vh; 
    width: 80vh; 
    flex: 0 0 auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5px;
}

.square {
    background-color: green;
    text-align: center;
    vertical-align: middle;

    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.square:hover {
    cursor: pointer;
}

#score-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    flex: 1 1 25vh;
}

.score-div {
    background-color: lightgreen;
    padding: 20px;
    border-radius: 20px;
    font-family: "arsenal";
    text-align: center;
}
