/* Add new themes here 
 * Only change backgrounds here. 
 * Page-specific theme styling goes in individual css files. 
 */

.standard {
    background-color: white;
}

.standard .game {
    background-color: white;
}

.dark-mode {
    background-color: #2E073F;
}

.pink {
    background-color: #FFCCEA;
}

.lilac {
    background-color: #CDC1FF;
}


.candy {
    background-image: url(Theme1.png);
    background-repeat: repeat;
}