body {
    /*font-family:'Courier New', Courier, monospace;*/
    /*font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/

    /*font-family: 'DevilCandle_PERSONAL_USE_ONLY',*/
    font-family: 'MidnightMinutes_DEMO';
    text-align: center;
}

#board{
    background-image: url("./background.png");
}