*{
    font-family: "Space Grotesk", sans-serif;
}

body{
    text-align: center;
    position: relative;
}

p{
    text-align: center;
}

#board{
    background-image: url("./background.png");
    margin: 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    display: block;
    background-color: #CDC1FF;
    width: 150px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    border: none;
    transition-duration: .25s; 
}

button:hover {
    background-color: #BFECFF;
    letter-spacing: .15rem;
    width: 200px;
}

#start-screen{
    background-color: #CDC1FF;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    /* horizontal align */
    width: 30vw;
    margin-left: 33vw;
    /* vertical align */
    height: 20vh;
    margin-top: 10vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    border-radius: 10px;
    top: 50%; 
    left: 50%; 
    transform: translate(-160%, -110%); 
}

.dark-mode #title, .dark-mode #text {
    color: #BFECFF;
}

.lilac button{
    background-color: #e4deff;
}

.lilac button:hover{
    background-color: #BFECFF;
}